

<div id='cssmenu'> 
<ul>
  <li><a href="http://localhost:3000/pages/admin">Home</a></li>
  <li><a href="http://localhost:3000/infos/new">Resident Registration</a></li>
  <li><a href="http://localhost:3000/infos">Resident List</a></li>
  <li><a href="http://localhost:3000/cars">Car</a></li>
  <li><a href="http://localhost:3000/apartments">Apartment</a></li>
  <li><a href="http://localhost:3000/park_spaces">Park Space Rental</a></li>
  <li><a href="http://localhost:3000/chat_rooms">Chat Rooms</a></li>

  </ul>
</div>

<br>


<h1>Chat rooms</h1>

<p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p>
<div class="col-md-11">
<p class="card-text">
<ul>
  <%= render @chat_rooms %>
  <% @chat_rooms.each do |chat_room| %>
  <%= link_to 'Destroy', chat_room, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>  
</ul>
</div>
</div>