


<div id='cssmenu'>
<ul>
  <li><a href="http://localhost:3000/pages/admin">Home</a></li>
  <li><a href="http://localhost:3000/infos/new">Resident Registration</a></li>
  <li><a href="http://localhost:3000/infos">Resident List</a></li>
  <li><a href="http://localhost:3000/cars">Car</a></li>
  <li><a href="http://localhost:3000/apartments">Apartment</a></li>
  <li><a href="http://localhost:3000/park_spaces">Park Space Rental</a></li>
  <li><a href="http://localhost:3000/chat_rooms">Chat Rooms</a></li>

  </ul>
</div>

<br>


<h1>Add chat room</h1>

<%= form_for @chat_room do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>

  <%= f.submit "Add!", class: 'btn btn-primary' %>
<% end %>