h1 Listing Guests

doctype html
html
  head
        meta content="width=device-width, initial-scale=1" name="viewport" 
        css:
           body {
             margin: 0;
             font-family: Arial, Helvetica, sans-serif;
           }
          
          .topnav {
             overflow: hidden;
             background-color: #333;
           }
          
          .topnav a {
             float: left;
             color: #f2f2f2;
             text-align: center;
             padding: 14px 16px;
             text-decoration: none;
             font-size: 17px;
           }
          
          .topnav a:hover {
             background-color: #ddd;
             color: black;
           }
          
          .topnav a.active {
             background-color: #4CAF50;
             color: white;
           }
          
           table {
               font-family: arial, sans-serif;
               border-collapse: collapse;
               width: 100;
           }
          
           td, th {
               border: 1px solid #dddddd;
               text-align: left;
               padding: 8px;
           }
          
           tr:nth-child(even) {
               background-color: #dddddd;
           }
          
          .center {
               text-align: center;
               border: 3px ;
           }
          
           input[type=text], select {
               width: 100;
               padding: 12px 20px;
               margin: 8px 0;
               display: inline-block;
               border: 1px solid #ccc;
               border-radius: 4px;
               box-sizing: border-box;
           }
          
           input[type=submit] {
               width: 100;
               background-color: #4CAF50;
               color: white;
               padding: 14px 20px;
               margin: 8px 0;
               border: none;
               border-radius: 4px;
               cursor: pointer;
           }
          
           input[type=submit]:hover {
               background-color: #45a049;
           }
      
        .topnav          
          
          a href="http://localhost:3000/guests" Guest
          a href="http://localhost:3000/chat_rooms" Chat Rooms

table#dttb-guests.responsive.nowrap.table.table-hover data-sort="true" data-source="#{url_for(format: :json)}"
  thead
    tr
      th data-data="plat_number" Plat number
      th data-data="block" Block
      th data-data="date" Date
      th data-data="phone_number" Phone number
      th data-data="purpose" Purpose
      th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"
      th
      th

  tbody
    - @guests.each do |guest|
      tr
        td = guest.plat_number
        td = guest.block
        td = guest.date
        td = guest.phone_number
        td = guest.purpose
        td = link_to 'Show', guest
        td = link_to 'Edit', edit_guest_path(guest)
        td = link_to 'Destroy', guest, data: { confirm: 'Are you sure?' }, method: :delete


= link_to 'New Guest', new_guest_path