<<<<<<< HEAD
<h1>New Guest</h1>

<%= render 'form', guest: @guest %>

<%= link_to 'Back', guests_path %>
=======
<h1>New Guest</h1>

<%= render 'form', guest: @guest %>

<%= link_to 'Back', guests_path %>
>>>>>>> 6c0fc0d134d542fcdbd0c0602a0de364ad80eff7
