-if cookies.signed['admin.id'] 
  doctype html
  html
    head
          meta content="width=device-width, initial-scale=1" name="viewport" 
          css:
            body {
              margin: 0;
              font-family: Arial, Helvetica, sans-serif;
            }
            
            .topnav {
              overflow: hidden;
              background-color: #333;
            }
            
            .topnav a {
              float: left;
              color: #f2f2f2;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
            }
            
            .topnav a:hover {
              background-color: #ddd;
              color: black;
            }
            
            .topnav a.active {
              background-color: #4CAF50;
              color: white;
            }
            
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100;
            }
            
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            
            .center {
                text-align: center;
                border: 3px ;
            }
            
            input[type=text], select {
                width: 100;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            
            input[type=submit] {
                width: 100;
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            
            input[type=submit]:hover {
                background-color: #45a049;
            }
        
          .topnav          
            a href="http://localhost:3000/pages/admin"  Home
            a href="http://localhost:3000/infos/new"  Resident Registration
            a href="http://localhost:3000/infos"  Resident List
            a href="http://localhost:3000/cars"  Car
            a href="http://localhost:3000/apartments"  Apartment
            a.active href="http://localhost:3000/park_spaces"  Park Space Rental
            /a href="http://localhost:3000/parkspacelogs"  Space Log
            /a href="http://localhost:3000/park_spacerentals"  Park Space Rental
            a href="http://localhost:3000/floorplans"  Floor Plan
            a href="http://localhost:3000/clusters" Cluster
            a href="http://localhost:3000/chat_rooms" Chat Rooms

-if cookies.signed['user.id'] 
  doctype html
  html
    head
          meta content="width=device-width, initial-scale=1" name="viewport" 
          css:
            body {
              margin: 0;
              font-family: Arial, Helvetica, sans-serif;
            }
            
            .topnav {
              overflow: hidden;
              background-color: #333;
            }
            
            .topnav a {
              float: left;
              color: #f2f2f2;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
            }
            
            .topnav a:hover {
              background-color: #ddd;
              color: black;
            }
            
            .topnav a.active {
              background-color: #4CAF50;
              color: white;
            }
            
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100;
            }
            
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            
            .center {
                text-align: center;
                border: 3px ;
            }
            
            input[type=text], select {
                width: 100;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            
            input[type=submit] {
                width: 100;
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            
            input[type=submit]:hover {
                background-color: #45a049;
            }
        
          .topnav    
            a href="http://localhost:3000/pages/user" Home
            a href="http://localhost:3000/guests/new" Guest Registration
            /a href="http://localhost:3000/cars/new" Car
            a href="http://localhost:3000/chat_rooms" Chat Rooms
            a href="http://localhost:3000/park_spaces" Park Space Rental


        
br 



center/
h3 Lower Ground Floor
center/
img alt="S" src="http://i68.tinypic.com/j0w39z.jpg" usemap="#s" /
map name="s" 
    area alt="1" coords="113,548,163,657" href="http://localhost:3000/park_spaces/1" shape="rect" class="not-available" parkinglot="1"/
  area alt="2" coords="165,548,217,656" href="http://localhost:3000/park_spaces/2" shape="rect" parkinglot="2" /
  area alt="3" coords="235,547,296,658" href="http://localhost:3000/park_spaces/3" shape="rect" parkinglot="3" /
  area alt="4" coords="302,548,348,656" href="http://localhost:3000/park_spaces/4" shape="rect" parkinglot="4" /
  area alt="5" coords="351,548,397,656" href="http://localhost:3000/park_spaces/5" shape="rect" parkinglot="5" /
  area alt="6" coords="404,549,451,659" href="http://localhost:3000/park_spaces/6" shape="rect" parkinglot="6" /
  area alt="7" coords="493,550,548,655" href="http://localhost:3000/park_spaces/7" shape="rect" parkinglot="7" /
  area alt="8" coords="555,550,602,656" href="http://localhost:3000/park_spaces/8" shape="rect" parkinglot="8" /
  area alt="9" coords="607,549,648,656" href="http://localhost:3000/park_spaces/9" shape="rect" parkinglot="9" /
  area alt="10" coords="654,550,698,656" href="http://localhost:3000/park_spaces/10" shape="rect" parkinglot="10" /
  area alt="11" coords="700,550,746,655" href="http://localhost:3000/park_spaces/11" shape="rect" parkinglot="11" /
  area alt="12" coords="754,549,804,655" href="http://localhost:3000/park_spaces/12" shape="rect" parkinglot="12" /
  area alt="13" coords="813,549,858,655" href="http://localhost:3000/park_spaces/13" shape="rect" parkinglot="13" /
  area alt="14" coords="863,550,909,655" href="http://localhost:3000/park_spaces/14" shape="rect" parkinglot="14" /
  area alt="15" coords="753,331,804,433" href="http://localhost:3000/park_spaces/15" shape="rect" parkinglot="15" /
  area alt="16" coords="606,330,647,432" href="http://localhost:3000/park_spaces/16" shape="rect" parkinglot="16" /
  area alt="17" coords="556,332,605,431" href="http://localhost:3000/park_spaces/17" shape="rect" parkinglot="17" /
  area alt="18" coords="450,331,496,431" href="http://localhost:3000/park_spaces/18" shape="rect" parkinglot="18" /
  area alt="19" coords="405,330,449,432" href="http://localhost:3000/park_spaces/19" shape="rect" parkinglot="19" /
  area alt="20" coords="352,331,396,432" href="http://localhost:3000/park_spaces/20" shape="rect" parkinglot="20" /
  area alt="21" coords="301,332,352,431" href="http://localhost:3000/park_spaces/21" shape="rect" parkinglot="21" /
  area alt="22" coords="161,330,210,432" href="http://localhost:3000/park_spaces/22" shape="rect" parkinglot="22" /
  area alt="23" coords="110,316,158,432" href="http://localhost:3000/park_spaces/23" shape="rect" parkinglot="23" /
  area alt="24" coords="7,432,106,485" href="http://localhost:3000/park_spaces/24" shape="rect" parkinglot="24" /
  area alt="25" coords="6,484,107,536" href="http://localhost:3000/park_spaces/25" shape="rect" parkinglot="25" /
  area alt="26" coords="211,330,164,229" href="http://localhost:3000/park_spaces/26" shape="rect" parkinglot="26" /
  area alt="27" coords="244,229,297,342" href="http://localhost:3000/park_spaces/27" shape="rect" parkinglot="27" /
  area alt="28" coords="301,229,351,331" href="http://localhost:3000/park_spaces/28" shape="rect" parkinglot="28" /
  area alt="29" coords="353,229,396,331" href="http://localhost:3000/park_spaces/29" shape="rect" parkinglot="29" /
  area alt="30" coords="404,229,449,331" href="http://localhost:3000/park_spaces/30" shape="rect" parkinglot="30" /
  area alt="31" coords="451,229,494,331" href="http://localhost:3000/park_spaces/31" shape="rect" parkinglot="31" /
  area alt="32" coords="504,228,546,338" href="http://localhost:3000/park_spaces/32" shape="rect" parkinglot="32" /
  area alt="33" coords="554,232,599,330" href="http://localhost:3000/park_spaces/33" shape="rect" parkinglot="33" /
  area alt="34" coords="601,232,647,330" href="http://localhost:3000/park_spaces/34" shape="rect" parkinglot="34" /
  area alt="35" coords="653,232,694,330" href="http://localhost:3000/park_spaces/35" shape="rect" parkinglot="35" /
  area alt="36" coords="696,231,747,343" href="http://localhost:3000/park_spaces/36" shape="rect" parkinglot="36" /
  area alt="37" coords="754,230,811,330" href="http://localhost:3000/park_spaces/37" shape="rect" parkinglot="37" /
  area alt="38" coords="861,6,911,106" href="http://localhost:3000/park_spaces/38" shape="rect" parkinglot="38" /
  area alt="39" coords="812,6,860,107" href="http://localhost:3000/park_spaces/39" shape="rect" parkinglot="39" /
  area alt="40" coords="754,6,806,107" href="http://localhost:3000/park_spaces/40" shape="rect" parkinglot="40" /
  area alt="41" coords="701,7,746,108" href="http://localhost:3000/park_spaces/41" shape="rect" parkinglot="41" /
  area alt="42" coords="655,6,701,107" href="http://localhost:3000/park_spaces/42" shape="rect" parkinglot="42" /
  area alt="43" coords="602,8,646,108" href="http://localhost:3000/park_spaces/43" shape="rect" parkinglot="43" /
  area alt="44" coords="554,6,600,110" href="http://localhost:3000/park_spaces/44" shape="rect" parkinglot="44" /
  area alt="45" coords="504,6,548,108" href="http://localhost:3000/park_spaces/45" shape="rect" parkinglot="45" /
  area alt="46" coords="452,7,495,107" href="http://localhost:3000/park_spaces/46" shape="rect" parkinglot="46" /
  area alt="47" coords="404,6,452,107" href="http://localhost:3000/park_spaces/47" shape="rect" parkinglot="47" /
  area alt="48" coords="350,7,395,108" href="http://localhost:3000/park_spaces/48" shape="rect" parkinglot="48" /
  area alt="49" coords="301,6,348,108" href="http://localhost:3000/park_spaces/49" shape="rect" parkinglot="49" /
  area alt="50" coords="246,7,293,106" href="http://localhost:3000/park_spaces/50" shape="rect" parkinglot="50" /

br

br 

br
h3 Ground Floor
center/
img alt="G" src="http://oi66.tinypic.com/r0qr8n.jpg" usemap="#g" /
map name="g" 
  area alt="51" coords="239,550,294,655 " href="http://localhost:3000/park_spaces/51" shape="rect" class="not-available" parkinglot="51"/
  area alt="52" coords="304,549,347,660" href="http://localhost:3000/park_spaces/52" shape="rect" parkinglot="52" /
  area alt="53" coords="353,549,396,655" href="http://localhost:3000/park_spaces/53" shape="rect" parkinglot="53" /
  area alt="54" coords="450,656,404,548" href="http://localhost:3000/park_spaces/54" shape="rect" parkinglot="54" /
  area alt="55" coords="491,548,547,656" href="http://localhost:3000/park_spaces/55" shape="rect" parkinglot="55" /
  area alt="56" coords="554,548,601,655" href="http://localhost:3000/park_spaces/56" shape="rect" parkinglot="56" /
  area alt="57" coords="604,548,645,655" href="http://localhost:3000/park_spaces/57" shape="rect" parkinglot="57" /
  area alt="58" coords="653,548,697,656" href="http://localhost:3000/park_spaces/58" shape="rect" parkinglot="58" /
  area alt="59" coords="700,548,746,655" href="http://localhost:3000/park_spaces/59" shape="rect" parkinglot="59" /
  area alt="60" coords="754,549,804,655" href="http://localhost:3000/park_spaces/60" shape="rect" parkinglot="60" /
  area alt="61" coords="301,5,347,107" href="http://localhost:3000/park_spaces/61" shape="rect" parkinglot="61" /
  area alt="62" coords="349,6,397,107" href="http://localhost:3000/park_spaces/62" shape="rect" parkinglot="62" /
  area alt="63" coords="403,5,451,107" href="http://localhost:3000/park_spaces/63" shape="rect" parkinglot="63" /
  area alt="64" coords="451,6,497,107" href="http://localhost:3000/park_spaces/64" shape="rect" parkinglot="64" /
  area alt="65" coords="503,5,549,107" href="http://localhost:3000/park_spaces/65" shape="rect" parkinglot="65" /
  area alt="66" coords="555,5,601,107" href="http://localhost:3000/park_spaces/66" shape="rect" parkinglot="66" /
  area alt="67" coords="602,6,645,107" href="http://localhost:3000/park_spaces/67" shape="rect" parkinglot="67" /
  area alt="68" coords="654,6,699,107" href="http://localhost:3000/park_spaces/68" shape="rect" parkinglot="68" /
  area alt="69" coords="702,6,745,107" href="http://localhost:3000/park_spaces/69" shape="rect" parkinglot="69" /
  area alt="70" coords="754,7,803,107" href="http://localhost:3000/park_spaces/70" shape="rect" parkinglot="70" / 

br 
br

table#dttb-infos.responsive.nowrap.table.table-hover data-sort="true" data-source="#{url_for(format: :json)}"
  thead
     tr
     th data_data="park_number" Park Number
     th data_data="space_type" Space Type
     th data_data="available" Available
     th data_data="available" start_rent 
     th data_data="available" end_rent
     th
     th
     th

  tbody
    - @park_spaces.each do |park_space|
      
      - if park_space.available?
        - available = "Available" 
      - else 
        - available = "Not Available"
      tr
        td = park_space.parknum
        td = park_space.spacetype
        td = available 
        td = park_space.start_rent
        td = park_space.end_rent
        td = link_to 'Show', park_space
        td = link_to 'Edit', edit_park_space_path(park_space)
        td = link_to 'Destroy', park_space, data: { confirm: 'Are you sure?' }, method: :delete



= link_to 'New Park space', new_park_space_path
br
= link_to 'Back', pages_admin_path

/= @park_spaces.map{|x| {key: x.parknum, fillColor: (x.available? ? '80ff00' : 'ff0000'), staticState: true} }
css:
    .not-available { background-color:#0F0 }

javascript: 

    $('img').mapster({
        clickNavigate: true,
        areas: #{raw @park_spaces.map{|x| {key: x.parknum, fillColor: x.colour, staticState: true} }.to_json } ,
        mapKey: 'parkinglot'
    });