h1 New Park Space Rental

css:

    #formContent {
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      background: lightblue;
      padding: 30px;
      
      max-width: 6500px;
      position: relative;
      padding: 0px;
      padding-top: 0px;
      padding-right: 50px;
      padding-left: 50px;
      -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
      box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
      text-align: center;
    }

#cssmenu 
    ul
     -if cookies.signed['admin.id']           
        li      
            a href="http://localhost:3000/pages/admin"  Home
        li
            a href="http://localhost:3000/infos/new"  Resident Registration
        li
            a href="http://localhost:3000/infos"  Resident List
        li
            a href="http://localhost:3000/cars"  Car
        li
            a.active href="http://localhost:3000/apartments"  Apartment
        li
            a href="http://localhost:3000/park_spaces"  Park Space Rental
        li
            a href="http://localhost:3000/chat_rooms" Chat Rooms
        li
br
     -if cookies.signed['user.id']           
        li      
            a href="http://localhost:3000/pages/user"  Home
        li
            a href="http://localhost:3000/guests/new"  Guest Registration
        li
            a href="http://localhost:3000/park_spaces"  Park Space Rental
        li
            a href="http://localhost:3000/chat_rooms" Chat Rooms
        li
br
    #formContent 
        center
          h2. Park Space Rental
          /! Icon
          br
          .form
            = render 'form', park_spacerental: @park_spacerental
          = link_to 'Back', park_spaces_path
          br/

