<html>  
<head>

<div id='cssmenu'>
<ul>
    <li><a class="active" href="http://localhost:3000/pages/admin">Home</a></li>
    <li><a href="http://localhost:3000/infos/new">Resident Registration</a></li>
    <li><a href="http://localhost:3000/infos">Resident List</a></li>
    <li><a href="http://localhost:3000/cars">Car</a></li>
    <li><a href="http://localhost:3000/apartments">Apartment</a></li>
    <li><a href="http://localhost:3000/park_spaces">Park Space Rental</a></li>
    <li><a href="http://localhost:3000/chat_rooms">Chat Rooms</a></li>
</ul>
</div>


</body>
</html>

