br
br
br
br
doctype html
html
  head
        /meta content="width=device-width, initial-scale=1" name="viewport" 
        meta[name="viewport" content="width=device-width, initial-scale=1"]
        link[rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"]
        script[src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"]
        script[src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"]
        css:
           body {
             margin: 0;
             font-family: Arial, Helvetica, sans-serif;
           }
        
           table {
               font-family: arial, sans-serif;
               border-collapse: collapse;
               width: 100;
           }
          
           td, th {
               border: 1px solid #dddddd;
               text-align: left;
               padding: 30px;
           }
          
           tr:nth-child(even) {
               background-color: #dddddd;
           }
          
          .center {
               text-align: center;
               border: 3px ;
           }
          
           input[type=text], select {
               width: 100;
               padding: 12px 20px;
               margin: 8px 0;
               display: inline-block;
               border: 1px solid #ccc;
               border-radius: 4px;
               box-sizing: border-box;
           }
          
           input[type=submit] {
               width: 100;
               background-color: #4CAF50;
               color: white;
               padding: 14px 20px;
               margin: 8px 0;
               border: none;
               border-radius: 4px;
               cursor: pointer;
           }
          
           input[type=submit]:hover {
               background-color: #45a049;
           }
           .button {
              background-color: #4CAF50;
              border: none;
              color: white;
              padding: 15px 25px;
              text-align: center;
              font-size: 16px;
              cursor: pointer;
          }

          .button:hover {
              background-color: green;
          }
      
#cssmenu
 ul          
    li      
        a href="http://localhost:3000/pages/user"  Home
    li
        a href="http://localhost:3000/guests/new"  Guest Registration    
    li
        a href="http://localhost:3000/cars"  Car   
    li
        a href="http://localhost:3000/chat_rooms" Chat Rooms
    li

br
br
br   

h3 You are successfully request for parking space. 
h3 Please wait for our feedback.
br



    /input[type="button" value="Request Another Parking Queue" onclick="window.location.href='http://localhost:3000/park_spaces'"]

br
= link_to 'Back', pages_admin_path
