
<body>

<center><p><font size="8"><p style="color:BLUE;">WELCOME TO JENG APARTMENT</p></font></p></center>


<h5></h5>
<center><img src="https://myelitedetail.us/images/structure-clipart-apartment-complex/structure-clipart-apartment-complex-21.jpg" alt="jeng 1" width="300" height="150">
<img src="https://myelitedetail.us/images/structure-clipart-apartment-complex/structure-clipart-apartment-complex-21.jpg" alt="jeng 2" width="300" height="150">
<img src="https://myelitedetail.us/images/structure-clipart-apartment-complex/structure-clipart-apartment-complex-21.jpg" alt="jeng 3" width="300" height="150">
</center>

<form>
<center><input type="button" value="JENG 1" onclick="window.location.href='http://localhost:3000/apartments'" />
<input type="button" value="JENG 2" onclick="window.location.href='http://localhost:3000/jeng2s'" />
<input type="button" value="JENG 3" onclick="window.location.href='http://localhost:3000/jeng3s'" /></center>

</form>


</body>

