head
  css:
 


    .w3-button {
      width:150px;
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer; 
      border-radius: 12px;
   } 

    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
      
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }
    
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
   }

   .input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .center {
        text-align: center;
        border: 3px solid green;
    }

     input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

     input[type=submit]:hover {
        background-color: #45a049;
    }

     div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
body





p style="text-align:center;" 
    img alt="Logo" height="333" src="https://static1.squarespace.com/static/573b5cfae32140723c1e496e/t/59c557bc18b27d060033dc12/1535661129638/?format=1500w" width="400" /

meta content="width=device-width, initial-scale=1" name="viewport" /
link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" /

form style="text-align:center;"
  
  input.w3-button.w3-teal button="" onclick="window.location.href='http://localhost:3000/users/sign_in'" type="button" value="Resident" /
  span.tab
  input.w3-button.w3-teal button="" onclick="window.location.href='http://localhost:3000/admins/sign_in'" type="button" value="Admin" /
  span.tab
  input.w3-button.w3-teal button="" onclick="window.location.href='http://localhost:3000/guards/sign_in'" type="button" value="Guard" /
  

 

