

<html>

  <head>
  <div id='cssmenu'>
  <ul>
      <li><a class="active" href="http://localhost:3000/pages/user">Home</a></li>
      <li><a href="http://localhost:3000/guests/new">Guest Registration</a></li>
      <li><a href="http://localhost:3000/chat_rooms">Chat Rooms</a></li>
      <li><a href="http://localhost:3000/park_spaces">Park Space Rental</a></li>
  </ul>
  </div>
  </head>

  <body>
  </body>
</html> 
