br
br
br
css:
  * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .left {
    float: left;
    width: 70%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  .right {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */ 
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @import url('https://fonts.googleapis.com/css?family=Poppins');

  /* BASIC */

  html {
    background-color: #56baed;
  }

  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }

  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }

  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }

  h3 {
    text-align: left;
    padding-left: 30;
    font-size: 14px;
    display:inline-block;
    color: #000;
  }


  /* STRUCTURE */

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

  #formContentleft {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 70%;
    height: 80%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

  #formContentleftleft {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 35%;
    height: 80%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

  #formContentleftright {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 35%;
    height: 80%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  #formContentright {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 30%;
    height: 80%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }



  /* TABS */

  h2.inactive {
    color: #cccccc;
  }

  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }



  /* FORM TYPOGRAPHY*/

  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }

  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  input[type=text]:placeholder {
    color: #cccccc;
  }



  /* ANIMATIONS */

  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }

  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }

  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }

  .underlineHover:hover {
    color: #0d0d0d;
  }

  .underlineHover:hover:after{
    width: 100%;
  }



  /* OTHERS */

  *:focus {
      outline: none;
  } 

  #icon {
    width:150px;
    height: 150px;

  }

  * {
    box-sizing: border-box;
  }


html
  head

  #cssmenu
    ul
      li
        a.active[href="http://localhost:3000/pages/user"]
          | Home
      li
        a[href="http://localhost:3000/guests/new"]
          | Guest Registration
      li
        a[href="http://localhost:3000/chat_rooms"]
          | Chat Rooms
      li
        a[href="http://localhost:3000/park_spaces"]
          | Park Space Rental

doctype html
html[lang="en"]
  head
    link[rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"]
    link[rel="stylesheet" type="text/css" href="custom.css"]
    link[href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600" rel="stylesheet" type="text/css"]
    meta[name="viewport" content="width=device-width, initial-scale=1"] 
    link[rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"] 
  body
    .main-section
      .dashbord
        .icon-section
          i.fas.fa-user-circle[aria-hidden="true"]
          br
          small
            | Details
          p
           .container
            button.btn.btn-info.btn-lg.col-10[type="button" data-toggle="modal" data-target="#myModal"]
              | My Personal Details
            #myModal.modal.fade[role="dialog"]
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close[type="button" data-dismiss="modal"]
                      | ×
                    h4.modal-title-centered
                      | Request Form
                  .modal-body
                    .detail-section
                     =current_user.fullname
                     br
                     =current_user.age 
                     br
                     =current_user.apartment&.number_apartment


                  .modal-footer
                    button.btn.btn-default[type="button" data-dismiss="modal"]
                      | Close
                  
                    
      .dashbord.dashbord-green
        .icon-section
          i.fas.fa-car[aria-hidden="true"]
          br
          small
            | My Car
          p
            .container
              button.btn.btn-info.btn-lg.col-10[type="button" data-toggle="modal" data-target="#myMod"]
                | My Car
              #myMod.modal.fade[role="dialog"]
                .modal-dialog
                  .modal-content
                    .modal-header
                      button.close[type="button" data-dismiss="modal"]
                        | ×
                      h4.modal-title-centered
                        | Request Form
                    .modal-body
                     .detail-section                        
                        table.table
                            thead
                              tr
                              th data-data="cartype" Type
                              th data-data="owner" Owner
                              th data-data="platnum" Platnum
                              th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"
                              
                            tbody
                            
                             - current_user.cars.each do |car| 
                                  tr
                                  td = car.cartype 
                                  td = link_to car.user&.fullname, info_path(car) 
                                  td = car.platnum 

                                  input[type="button" class="btn-lg btn-primary" value="Add New Car" onclick="window.location.href='http://localhost:3000/cars/#{params[:id]}/new'"]
                                  /td = link_to 'Show', car
                                  
                                  /td.dropdown
                                    button#dropdownMenu1.btn.btn-default.dropdown-toggle[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"]
                                      |  Action 
                                      span.caret
                                    ul.dropdown-menu[aria-labelledby="dropdownMenu1"]             
                                      li
                                        = link_to 'Edit', edit_car_path(car) 
                                      li
                                        = link_to 'Delete', car, data: { confirm: 'Are you sure?' }, method: :delete
                                      
                    .modal-footer
                      button.btn.btn-default[type="button" data-dismiss="modal"]
                        | Close
      br
      .dashbord.dashbord-orange
        .icon-section
          i.fas.fa-parking[aria-hidden="true"]
          br
          small
            | My Park Space
          p
           .container
              button.btn.btn-info.btn-lg.col-10[type="button" data-toggle="modal" data-target="#parkspace"]
                | My Park Space
              #parkspace.modal.fade[role="dialog"]
                .modal-dialog
                  .modal-content
                    .modal-header
                      button.close[type="button" data-dismiss="modal"]
                        | ×
                      h4.modal-title-centered
                        | Request Form
                    .modal-body
                     .detail-section                       
                       table.table 
                        thead     
                            tr 
                            th No 
                            th Car 
                            th Start Date
                            th End Date
                            th
                              
                        tbody
                            - ParkSpacerental.all.each do |psr,index| 
                                tr 
                                /td = index+1
                                td = psr.car.platnum
                                td = psr.start_rent
                                td = psr.end_rent
                                td = link_to "Edit", edit_park_spacerental_path(psr)
                
                     
                    .modal-footer
                      button.btn.btn-default[type="button" data-dismiss="modal"]
                        | Close
     
      .dashbord.dashbord-red
        .icon-section
          i.fas.fa-user-friends[aria-hidden="true"]
          br
          small
            | Guest
          p
            .container
              button.btn.btn-info.btn-lg.col-10[type="button" data-toggle="modal" data-target="#guest"]
                | My Guests
              #guest.modal.fade[role="dialog"]
                .modal-dialog
                  .modal-content
                    .modal-header
                      button.close[type="button" data-dismiss="modal"]
                        | ×
                      h4.modal-title-centered
                        | Request Form
                    .modal-body
                     .detail-section                       
                       table.table
                        thead
                          tr
                          th data-data="plat_number" Plat number 
                          th data-data="phone_number" Phone number
                          th data-data="purpose" Purpose
                          th data-data="guest_in" Guest In
                          th data-data="guest_out" Guest Out
                    
                       tbody
                        - Guest.all.each do |guest| 
                           tr
                            td = guest.plat_number
                            td = guest.phone_number
                            td = guest.purpose
                            td = guest.guest_in
                            td = guest.guest_out
                           
                            
                                
                    .modal-footer
                      button.btn.btn-default[type="button" data-dismiss="modal"]
                        | Close



css:
  body{
    background:white;
    font-family: 'Raleway', sans-serif;
  }
  .main-section{
    width:80%;
    margin:0 auto;
    text-align: center;
    padding: 0px 5px;
  }
  .dashbord{
    width:32%;
    display: inline-block;
    background-color:#34495E;
    color:#fff;
    margin-top: 50px; 
  }
  .icon-section i{
    font-size: 30px;
    padding:10px;
    border:1px solid #fff;
    border-radius:50%;
    margin-top:-25px;
    margin-bottom: 10px;
    background-color:#34495E;
  }
  .icon-section p{
    margin:0px;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .detail-section{
    background-color: #ffffff;
    padding: 5px 0px;
  }
  .dashbord .detail-section{
    background-color: #5a5a5a;
    cursor: pointer;
  }
  .detail-section a{
    color:#000000;
    text-decoration: none;
  }
  .dashbord-green .icon-section,.dashbord-green .icon-section i{
    background-color: #16A085;
  }
  .dashbord-green .detail-section{
    background-color: #149077;
  }
  .dashbord-orange .icon-section,.dashbord-orange .icon-section i{
    background-color: #F39C12;
  }
  .dashbord-orange .detail-section{
    background-color: #DA8C10;
  }
  .dashbord-blue .icon-section,.dashbord-blue .icon-section i{
    background-color: #2980B9;
  }
  .dashbord-blue .detail-section{
    background-color:#2573A6;
  }
  .dashbord-red .icon-section,.dashbord-red .icon-section i{
    background-color:#E74C3C;
  }
  .dashbord-red .detail-section{
    background-color:#CF4436;
  }
  .dashbord-skyblue .icon-section,.dashbord-skyblue .icon-section i{
    background-color:#8E44AD;
  }
  .dashbord-skyblue .detail-section{
    background-color:#803D9B;
  }



 
 
        
