= form_with(model: resident, local: true) do |form|
  - if resident.errors.any?
    #error_explanation
      h2
        = pluralize(resident.errors.count, "error")
        |  prohibited this resident from being saved:
      ul
        - resident.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :id
    = form.text_field :id
  .field
    = form.label :phonenum
    = form.text_field :phonenum
  .field
    = form.label :owner
    = form.check_box :owner
  .actions
    = form.submit