p#notice
= notice
h1
  | Residents
table
  thead
    tr
      th
        | Name
      th
        | Id
      th
        | Phonenum
      th
        | Owner
      th[colspan="3"]
  tbody
    - @residents.each do |resident|
      tr
        td
          = resident.name
        td
          = resident.id
        td
          = resident.phonenum
        td
          = resident.owner
        td
          = link_to 'Show', resident
        td
          = link_to 'Edit', edit_resident_path(resident)
        td
          = link_to 'Destroy', resident, method: :delete, data: { confirm: 'Are you sure?' }
br
= link_to 'New Resident', new_resident_path